/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
AppScope/resources/rawfile/agconnect-services.json
/signing/*.p12
/signing/*.cer
/signing/*.p7b
/signing/*.csr
/signing/debug.properties
